/* body{
    background-color: #f3f3f3;
} */
.jobListContainer {
    margin-top: 40px !important; /* Adjust this if needed */
    padding: 20px;
  }
  .jobItem {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px auto;
    border-radius: 5px;
    background: #f9f9f9;
    max-width: 600px;
    word-wrap: break-word;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  .jobItemHover {
    background-color: #e3f2fd; /* Light blue hover effect */
  }
  
  .jobItem strong {
    display: block; /* Ensures each line is on a new row */
    font-size: 18px;
  }
  h3{
    text-align: center;
  }
  
  p {
    margin: 5px 0;
  }
  .button-container {
    display: flex;
    gap: 10px; /* Space between buttons */
    margin-top: 10px;
    justify-content: center;
    
}
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    white-space: normal; /* Allow text to wrap */
    word-wrap:normal; /* Ensure text wraps inside the button */
    
    /* border-radius: 4px; */
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  button:hover {
    background-color: #0056b3;
  }
  .filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.filters input, .filters select {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.filters input:focus, .filters select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}